.header {
  background-image: url(/header-background.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 80px;
  color: white;
}

.movie_list {
  white-space: nowrap;
  padding: 3rem;
  align-items: center;
}

.movie_list_item {
  min-width: 17%;
  padding: 1rem;
  align-items: center;
  white-space: normal;
}

.movie_list_item:hover {
  cursor: pointer;
}

.search_bar {
  margin-top: 4vmin;
}
